@page "{id:int?}"
@model FACILITIES.Pages.Offices.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="kt-container kt-container--fluid">

    <div class="row">
        <!--OFFICE DETAILS PORTLET-->

        <div class="col-lg-4">
            <div class="kt-portlet pb-4 pt-4 pr-4 pl-4">
                <div class="kt-portlet__head">
                    <h1><b>Office</b></h1>
                </div>
                <div class="kt-portlet__body">
                    <hr />
                    <dl class="row">
                        <dt class="col-lg-6">
                            @Html.DisplayNameFor(model => model.Office.Name)
                        </dt>
                        <dd class="col-lg-6">
                            @Html.DisplayFor(model => model.Office.Name)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.LandlordName)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.LandlordName)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Addr1)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Addr1)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Addr2)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Addr2)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Town)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Town)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.City)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.City)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Postcode)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Postcode)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Country)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Country)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Telephone)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Telephone)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.LandlordEmail)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.LandlordEmail)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.LandlordTelephone)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.LandlordTelephone)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Sqft)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Sqft)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.LeaseDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.LeaseDate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.LeaseEndReview)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.LeaseEndReview)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.NoticePeriod)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.NoticePeriod)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office.Manager)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office.Manager.UserName)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <!--SYSTEMS PORTLET-->
        <div class="col-xl-8">
            <div class="kt-portlet pb-4 pt-4 pr-4 pl-4">
                <div class="kt-portlet__head">
                    <h1><b>Systems</b></h1>
                </div>
                <br />
                <div class="kt-portlet__body" style="background-color: #fff;">
                    <table class="table" id="SystemDetails">
                        <thead>
                            <tr>
                                <th style="font-weight: 900; font-size:16px;">
                                    Office
                                </th>
                                <th style="font-weight: 900;font-size: 16px;">
                                    System
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Service Date
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Next Date
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Frequency
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Supplier
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Responsibility
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Status
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Comments
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Bristol
                                </td>
                                <td>
                                    Air Conditioning
                                </td>
                                <td>
                                    24/02/2020
                                </td>
                                <td>
                                    28/02/2020
                                </td>
                                <td>
                                    Daily
                                </td>
                                <td>
                                    Airco
                                </td>
                                <td>
                                    Morson Projects
                                </td>
                                <td>
                                    Due
                                </td>
                                <td>
                                    Landlord to chase - Liam 10348643845 see email 07/01/2020
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @*<table class="table" style="background-color: white;">
                        <thead>
                            <tr>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].Office)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].Item)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].DueDate)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].NextDate)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].Frequency)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].Company)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].Responsibility)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].Status)
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    @Html.DisplayNameFor(model => model.Setting[0].Comment)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Setting)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Office.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Item.ItemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DueDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NextDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Frequency.FrequencyAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responsibility.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status.StatusIndicator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                </div>
            </div>
        </div>   
    </div>

    <div class="row">
        <!--MANAGER PORTLET-->
        <div class="col-lg-4">
            <div class="kt-portlet pb-4 pt-4 pr-4 pl-4">
                <div class="kt-portlet__head">
                    <h1><b>Manager</b></h1>
                </div>
                <br />
                <div class="kt-portlet__body" style="background-color: #fff;">
                    <table class="table" id="ManagerDetails">
                        <thead>
                            <tr>
                                <th style="font-weight: 900; font-size:16px;">
                                    Manager Name
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Manager Email
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Charles Lowndes
                                </td>
                                <td>
                                    charles.lowndes@morson-projects.co.uk
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-8">

        </div>

        <!--SUPPLIER PORTLET-->
        <div class="col-lg-4">
            <div class="kt-portlet pb-4 pt-4 pr-4 pl-4">
                <div class="kt-portlet__head">
                    <h1><b>Suppliers</b></h1>
                </div>
                <br />
                <div class="kt-portlet__body" style="background-color: #fff;">
                    <table class="table" id="SupplierDetails">
                        <thead>
                            <tr>
                                <th style="font-weight: 900; font-size:16px;">
                                    Supplier Name
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Supplier Website
                                </th>
                                <th style="font-weight: 900; font-size:16px;">
                                    Supplier Telephone No.
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Benchmark Security
                                </td>
                                <td>
                                    www.somewebsite.co.uk
                                </td>
                                <td>
                                    0161 707 1516
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


    <!--FOOTER-->
    <div>
        <a class="btn btn-lg btn-success" asp-page="./Edit" asp-route-id="@Model.Office.OfficeID">Edit</a>
        <a class="btn btn-lg btn-primary" asp-page="./Index">Back to List</a>
    </div>