@page
@model FACILITIES.Pages.Offices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Office</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.LandlordName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.LandlordName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Addr1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Addr1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Addr2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Addr2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.LandlordEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.LandlordEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.LandlordTelephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.LandlordTelephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Sqft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Sqft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.LeaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.LeaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.LeaseEndReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.LeaseEndReview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.NoticePeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.NoticePeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Company.Addr1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Manager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Manager.ManagerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Item.ItemID)
        </dd>
    </dl>
</div>

<br />
<br />


<div class="kt-section__content kt-section__content--border">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-brand" data-toggle="modal" data-target="#SystemModal">
        View All Systems
    </button>

    <!-- Modal -->
    <div class="modal fade" id="SystemModal" tabindex="-1" role="dialog" aria-labelledby="SystemModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SystemModalLabel">All Systems</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--MODAL BODY-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.Office)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.Item)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.DueDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.NextDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.Frequency)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.Responsibility)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Setting.Comment)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model.Setting)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Office.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NextDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Frequency.FrequencyAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Responsibility.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.StatusIndicator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>

                <!--MODAL BODY END-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Office.OfficeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

