@page
@model FACILITIES.Pages.Companies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<br />
<div style="background-color: #f1f1f2;" class="pt-3 pb-3 pl-3 pr-3">
    <h2>Companies</h2>
    <h4>Delete Company?</h4>
</div>
<br />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Addr1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Addr1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Addr2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Addr2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.County)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.County)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.VatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.VatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Office)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Office.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Company.CompanyID" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
        <a asp-page="./Index" class="btn btn-sm btn-primary">Back to List</a>
    </form>
</div>
