@page
@model FACILITIES.Pages.Managers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h1>Managers</h1>

<p>
    <a asp-page="Create" style="color: #0275d8;" class="btn border border-primary"><span class="glyphicon glyphicon-plus" style="color: #0275d8;"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].UserEmail)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Manager[0].Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manager[0].Permission)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Manager)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Company.CompanyID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Permission.PermissionID)
                    </td>*@
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ManagerID"><span class="btn glyphicon glyphicon-cog" style="color: #0275d8;"></span></a>
                    <a asp-page="./Details" asp-route-id="@item.ManagerID"><span class="btn glyphicon glyphicon-th-list" style="color: #0275d8;"></span></a>
                    <a asp-page="./Delete" asp-route-id="@item.ManagerID"><span class="btn glyphicon glyphicon-remove" style="color: #d9534f;"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

