@page
@model FACILITIES.Pages.ItemConfigs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Item Configurations</h1>

<p>
    <a asp-page="Create" style="color: #0275d8;" class="btn border border-primary"><span class="glyphicon glyphicon-plus" style="color: #0275d8;"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ItemConfig[0].Items_csv)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ItemConfig[0].Office)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ItemConfig[0].Item)
            </th>*@
            <th>
                <h4>TestItems</h4>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ItemConfig) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Items_csv)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Office.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ItemConfigID"><span class="btn glyphicon glyphicon-cog" style="color: #0275d8;"></span></a>
                <a asp-page="./Details" asp-route-id="@item.ItemConfigID"><span class="btn glyphicon glyphicon-th-list" style="color: #0275d8;"></span></a>
                <a asp-page="./Delete" asp-route-id="@item.ItemConfigID"><span class="btn glyphicon glyphicon-remove" style="color: #d9534f;"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
