@page
@model FACILITIES.Pages.Statuses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Statuses</h1>

<p>
    <a asp-page="Create" style="color: #0275d8;" class="btn border border-primary"><span class="glyphicon glyphicon-plus" style="color: #0275d8;"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status[0].StatusIndicator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Status) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusIndicator)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StatusID"><span class="btn glyphicon glyphicon-cog" style="color: #0275d8;"></span></a>
                <a asp-page="./Details" asp-route-id="@item.StatusID"><span class="btn glyphicon glyphicon-th-list" style="color: #0275d8;"></span></a>
                <a asp-page="./Delete" asp-route-id="@item.StatusID"><span class="btn glyphicon glyphicon-remove" style="color: #d9534f;"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
