@page
@model FACILITIES.Pages.Statuses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn-sm btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status[0].StatusIndicator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Status) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusIndicator)
            </td>
            <td>
                <a class="btn-sm btn-primary" asp-page="./Edit" asp-route-id="@item.StatusID">Edit</a>
                <a class="btn-sm btn-primary" asp-page="./Details" asp-route-id="@item.StatusID">Details</a>
                <a class="btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.StatusID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
