@page
@model FACILITIES.Pages.Statuses.IndexModel

@{
    ViewData["Title"] = "Index";
}
<br />
<div style="background-color: #f1f1f2;" class="pt-3 pb-3 pl-3 pr-3">
    <h2>Statuses</h2>
    <h4>Summary</h4>
    <br />
    <a asp-page="Create" style="color: #0275d8;" class="btn border border-primary"> Create New</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status[0].StatusIndicator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Status)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusIndicator)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StatusID"><i class="btn far fa-edit" style="color: #0275d8;"></i></a>
                    <a asp-page="./Details" asp-route-id="@item.StatusID"><i class="btn fas fa-info" style="color: #0275d8;"></i></a>
                    <a asp-page="./Delete" asp-route-id="@item.StatusID"><i class="btn far fa-trash-alt" style="color: #d9534f;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
