@page
@model FACILITIES.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn-sm btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                <a class="btn-sm btn-primary" asp-page="./Edit" asp-route-id="@item.ItemID">Edit</a>
                <a class="btn-sm btn-primary" asp-page="./Details" asp-route-id="@item.ItemID">Details</a>
                <a class="btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.ItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
