@page
@model FACILITIES.Pages.Settings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].NextDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].Responsibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Setting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Office.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency.FrequencyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsibility.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusIndicator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SettingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SettingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SettingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
